@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Rubik", sans-serif;

  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
